header {
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.btn {
    text-decoration: none;
}

.btn img:hover {
    transform: scale(1.2);
}

.btn img {
    height: 60px;
    cursor: pointer;
}